<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>
  
    <div class="container">
  <% if logged_in? %>
    <a href="/logout">Logout</a>
  <% else %>
   <a href="/login">Login</a>
   <% end %>
  <%= yield %>
    </div>

  </body>
</html>
